// main.scss
// =========

// base files
@import"./base/base";
@import"./base/normalize";

// mixins
@import"./mixins/prefix";
@import"./mixins/responsive";
@import"./mixins/transition";
@import"./mixins/vars";

// modules
@import"./modules/header";
@import"./modules/parallax";
@import"./modules/star-wars";
@import"./modules/battlefront";
@import"./modules/kiloren";
@import"./modules/far-away";
@import"./modules/stormtroopers";
@import"./modules/footer";
