// header.scss
// =========

header {
	position: fixed;
	top: 0px;
	z-index: 1;
	width: 100%;
	padding: 20px 0;
	background-color: map-get($colors, black_opacity_80);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	@include media-query(palm) {
		justify-content: flex-end;
	}
	&.menu-opened {
		background-image: url('../images/backgrounds/header-bg.png');
		background-size: cover;
		background-repeat: no-repeat;
		bottom: 0px;
		justify-content: flex-start;
		img {
			&.menu {
				display: none;
			}
			&.close {
				display: block;
			}
		}
		ul {
			display: flex;
		}
	}

	img {
		display: none;
		width: 20px;
		&.menu {
			margin: 0px 20px 0px 0px;
			@include media-query(palm) {
				display: block;
			}
		}
		&.close {
			margin: 0px 0px 0px 20px;
		}
	}

	nav {
		width: 80%;
		ul {
			display: flex;
			align-items: center;
			justify-content: space-around;
			@include media-query(palm) {
				display: none;
				flex-direction: column;
				margin-top: 30px;
			}
			li {
				@include media-query(palm) {
					margin-bottom: 30px;
				}
				a {
					text-decoration: none;
					color: map-get($colors, white);
					text-transform: uppercase;
					font-weight: bold;
					@include media-query(palm) {
						font-size: 16px;
					}
				}
			}
		}
	}
}
