// stormtroopers.scss
// =========

section.stormtroopers {
    width: 100%;
    height: 250px;
    background-image: url('../images/backgrounds/stormtroopers.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
